<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img class="col-lg-6 col-xs-6" src="https://image.flaticon.com/icons/svg/145/145852.svg" alt="">
      </div>
      <div class="row">
        <button class="btn btn-danger col-lg-6 col-xs-6" type="button" name="button" on-click="incrementar">Cargar datos</button>
      <input type="text" placeholder="[[prop3]]" name="" value""{prop1::input}}"/>"
      </div>
    <div class="row">
      <table class="table table-striped col-lg-6 col-xs-6">
         <thead>
         <th>ID</th>
         <th>Nombre</th>
         <th>Apellido</th>
       </thead>
       <tbody>
         <tr>
           <td>1</td>
           <td>[[prop1]]</td>
           <td>Nito</td>
         </tr>
         <tr>
           <td>[[prop2]]</td>
           <td>Luis</td>
           <td>Perez</td>
         </tr>
       </tbody>




    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: "mi-visor"
                      },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value:'indique su login'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        consola.log(this.prop1);
        consola.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
